<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="AutoReservationEntities" connectionString="metadata=res://*/AutoReservation.csdl|res://*/AutoReservation.ssdl|res://*/AutoReservation.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=AutoReservation;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="AutoReservationServiceBehavior" name="AutoReservation.Service.Wcf.AutoReservationService">
        <endpoint binding="basicHttpBinding" name="AutoReservationService" contract="AutoReservation.Common.Interfaces.IAutoReservationService"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7876/AutoReservationService"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="AutoReservationServiceBehavior">
          <serviceMetadata httpGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
