<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AutoReservation.BusinessLayer.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="AutoReservationEntities" connectionString="metadata=res://*/AutoReservation.csdl|res://*/AutoReservation.ssdl|res://*/AutoReservation.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=AutoReservation;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:7876/AutoReservationService"
                binding="basicHttpBinding"
                name="AutoReservationService"
                contract="AutoReservation.Common.Interfaces.IAutoReservationService" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <AutoReservation.BusinessLayer.Test.Properties.Settings>
      <setting name="BusinessLayerType" serializeAs="String">
        <value>AutoReservation.Ui.Factory.BusinessLayerCreator, AutoReservation.Ui</value>
        <!--<value>AutoReservation.Ui.Factory.ServiceLayerCreator, AutoReservation.Ui</value>-->
      </setting>
    </AutoReservation.BusinessLayer.Test.Properties.Settings>
  </applicationSettings>
</configuration>